@model ButikSite.Models.TblMarkalar
@{
    ViewBag.Title = "Güncelle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<br />

@using (Html.BeginForm("Güncelle2", "Markalar", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <label class="label label-primary">Marka Adı</label>
    @Html.TextBoxFor(x=>x.Marka, new { @class = "form-control" })
    <br />

    <button class="btn btn-primary" style="background-color:#000000">Güncelle</button>

}


