
<li class="heart-icon">
    <a href="/Sepet/FavoriListe/">
        <i class="icon_heart_alt"></i>
        <span>@ViewBag.d1</span>
    </a>
</li>
<li class="cart-icon">
        <a href="/Sepet/Liste/">
            <i class="icon_bag_alt"></i>
            <span>@ViewBag.d2</span>
        </a>


        
    </li>

